<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Winku Social Network Toolkit</title>
    <link rel="icon" href="../images/fav.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="/static/css/home/style.css">
    <link rel="stylesheet" href="/static/css/SingleProduct/main.min.css">
    <link rel="stylesheet" href="/static/css/SingleProduct/style.css">
    <link rel="stylesheet" href="/static/css/SingleProduct/color.css">
    <link rel="stylesheet" href="/static/css/SingleProduct/responsive.css.css">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">

    <section id="header">
        <a href=""><img src="img/logo.png" class="logo" alt=""></a>

        <div>
            <ul id="navbar">
                <li><a href="index.html">Home</a></li>
                <li><a class="active" href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Support</a></li>
                <li id="lg-bag"><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <a id="close"><i class="fa fa-times"></i></a>
            </ul>
        </div>
        <div id="toggler">
            <a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>

        </div>
    </section>


    <!-- Table bang -->
    <section>
        <div class="gap100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cart-sec">
                            <table class="table table-responsive">
                                <tr>
                                    <th>Product name</th>
                                    <th>price</th>
                                    <th>quantity</th>
                                    <th>total price</th>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" title="" class="delete-cart"><i class="ti-close"></i></a>
                                        <div class="cart-avatar">

                                            <img src="../images/resources/cart-2.jpg" alt="">
                                        </div>
                                        <div class="cart-meta">
                                            <span>Black Shoes for men</span>
                                        </div>
                                    </td>
                                    <td>
										<span class="cart-prices">
											<del>
												<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>125</span>
											</del>
											<ins>
												<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>60</span>
											</ins>
										</span>
                                    </td>
                                    <td>
                                        <div class="cart-list-quantity">
                                            <div class="c-input-number">
												<span>
													<input id="box1" type="text" class="manual-adjust" value="0"/>
												</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="total-price">$60</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" title="" class="delete-cart"><i class="ti-close"></i></a>
                                        <div class="cart-avatar">

                                            <img src="../images/resources/cart-3.jpg" alt="">
                                        </div>
                                        <div class="cart-meta">
                                            <span>Leather Belt for Pent</span>
                                        </div>
                                    </td>
                                    <td>
										<span class="cart-prices">
											<del>
												<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>125</span>
											</del>
											<ins>
												<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>60</span>
											</ins>
										</span>
                                    </td>
                                    <td>
                                        <div class="cart-list-quantity">
                                            <div class="c-input-number">
												<span>
													<input id="box2" type="text" class="manual-adjust" value="0"/>
												</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="total-price">$60</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#" title="" class="delete-cart"><i class="ti-close"></i></a>
                                        <div class="cart-avatar">

                                            <img src="../images/resources/cart-4.jpg" alt="">
                                        </div>
                                        <div class="cart-meta">
                                            <span>Watch for men Breguet</span>
                                        </div>
                                    </td>
                                    <td>
										<span class="cart-prices">
											<del>
												<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>125</span>
											</del>
											<ins>
												<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>60</span>
											</ins>
										</span>
                                    </td>
                                    <td>
                                        <div class="cart-list-quantity">
                                            <div class="c-input-number">
												<span>
													<input id="box3" type="text" class="manual-adjust" value="0"/>
												</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="total-price">$60</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="amount-area">
                            <a href="#" title="" class="update-cart">Update Cart</a>
                            <form method="post" class="coupon-code">
                                <input type="text" placeholder="Enter your Coupon">
                                <button><i class="fa fa-paper-plane-o"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="total-area">
                            <ul>
                                <li>
                                    <span>Cart Subtotal:</span>
                                    <i>$180.00</i>
                                </li>
                                <li>
                                    <span>Shipping:</span>
                                    <i>Free</i>
                                </li>
                                <li class="order-total">
                                    <span>ORDER TOTAL:</span>
                                    <i>$180.00</i>
                                </li>
                            </ul>
                        </div>
                        <div class="proceed">
                            <a href="#" title="" class="button">proceed to checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- CART SECTION -->


    <!-- Het -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="widget">
                        <div class="foot-logo">
                            <div class="logo">
                                <a href="index-2.html" title=""><img src="../images/logo.png" alt=""></a>
                            </div>
                            <p>
                                The trio took this simple idea and built it into the world’s leading carpooling platform.
                            </p>
                        </div>
                        <ul class="location">
                            <li>
                                <i class="ti-map-alt"></i>
                                <p>33 new montgomery st.750 san francisco, CA USA 94105.</p>
                            </li>
                            <li>
                                <i class="ti-mobile"></i>
                                <p>+1-56-346 345</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>follow</h4></div>
                        <ul class="list-style">
                            <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
                            <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a></li>
                            <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
                            <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">Google+</a></li>
                            <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>Navigate</h4></div>
                        <ul class="list-style">
                            <li><a href="about.html" title="">about us</a></li>
                            <li><a href="contact.html" title="">contact us</a></li>
                            <li><a href="terms.html" title="">terms & Conditions</a></li>
                            <li><a href="#" title="">RSS syndication</a></li>
                            <li><a href="sitemap.html" title="">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>useful links</h4></div>
                        <ul class="list-style">
                            <li><a href="#" title="">leasing</a></li>
                            <li><a href="#" title="">submit route</a></li>
                            <li><a href="#" title="">how does it work?</a></li>
                            <li><a href="#" title="">agent listings</a></li>
                            <li><a href="#" title="">view All</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="widget">
                        <div class="widget-title"><h4>download apps</h4></div>
                        <ul class="colla-apps">
                            <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
                            <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
                            <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- footer -->
    <div class="bottombar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
                    <i><img src="../images/credit-cards.png" alt=""></i>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="/static/js/single%20product/main.min.js"></script>
<script src="/static/js/single%20product/script.js"></script>
<!--<script src="../js/main.min.js"></script>-->
<script src="/static/js/userincr.js"></script><!-- Increment prodcut button-->
<!--<script src="../js/script.js"></script>-->

</body>


</html>